{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <h2>Processos</h2>
  <div class="row ">
    <div class="col">
      <form style="display: inline" action="{% url 'core:export_process' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-success">
          Exportar CSV
        </button>
      </form>
    </div>
    <div class="col">
      <p class="text-end">
        <a href="" class="btn btn-primary" data-bs-toggle="modal"
           data-bs-target="#add-process">
          Cadastrar
        </a>
      </p>
    </div>
  </div>

  <div class="row ">
    <div class="col">
      <form style="display: inline" action="{% url 'core:export_process' %}" method="post">
        {% csrf_token %}
        {{ form_search.parts|add_class:'form-control' }}
      </form>
    </div>
  </div>

  <div class="modal fade" id="add-process" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cadastro de Processo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'core:create_process' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="" class="form-label">{{ form.number.label }}</label>
              {{ form.number|add_class:'form-control' }}
            </div>
            <div class="mb-3">
              <label for="" class="form-label">{{ form.class_name.label }}</label>
              {{ form.class_name|add_class:'form-control' }}
            </div>
            <div class="mb-3">
              <label for="" class="form-label">{{ form.subject.label }}</label>
              {{ form.subject|add_class:'form-control' }}
            </div>
            <div class="mb-3">
              <label for="" class="form-label">{{ form.judge.label }}</label>
              {{ form.judge|add_class:'form-control' }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <input type="hidden" name="part" value="{{ part.uuid }}">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Classe</th>
        <th scope="col">Assunto</th>
        <th scope="col">Juíz</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for process in object_list %}
        <tr>
          <td>{{ process.number }}</td>
          <td>{{ process.class_name }}</td>
          <td>{{ process.subject }}</td>
          <td>{{ process.judge }}</td>
          <td>
            <a href="{% url 'core:edit_process' process.uuid %}" class="btn btn-sm btn-warning">Editar</a>
            <a href="" class="btn btn-sm btn-danger" data-bs-toggle="modal"
               data-bs-target="#delete-process-{{ process.uuid }}">
              Excluir
            </a>
          </td>
        </tr>

        <div class="modal fade" id="delete-process-{{ process.uuid }}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Deseja realmente excluir?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-bold">Esta informação não poderá ser recuperada</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="{% url 'core:delete_process' process.uuid %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="part" value="{{ process.uuid }}">
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      {% empty %}
        <p>Você não tem processos na base de dados.</p>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock %}
