{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <h2>Edição de {{ object.name }}</h2>
  <form action="." method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="" class="form-label">{{ form.name.label }}</label>
      {{ form.name|add_class:'form-control' }}
    </div>
    <div class="mb-3">
      <label for="" class="form-label">{{ form.category.label }}</label>
      {{ form.category|add_class:'form-control' }}
    </div>
    <button class="btn btn-primary">Editar</button>
  </form>
{% endblock %}